In [44]:
#Read data directly from Athena
from pyathena import connect
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import mlxtend as ml

In [13]:
###!pip install mlxtend

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/52/04/c362f34f666f0ddc7cf593805e64d64fa670ed96fd9302e68549dd48287d/mlxtend-0.17.0-py2.py3-none-any.whl (1.3MB)
     |████████████████████████████████| 1.3MB 287kB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=0.20.3 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from mlxtend) (0.21.1)
Requirement already satisfied: scipy>=1.2.1 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: numpy>=1.16.2 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from mlxtend) (1.16.3)
Requirement already satisfied: joblib>=0.13.2 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: pandas>=0.24.2 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: setuptools in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from mlxtend) (41.0.1)
Requirement already satisfied: matplotlib>=3.0.0 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from mlxtend) (3.0.3)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.0)
Requirement already satisfied: cycler>=0.10 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in /Users/adekunleba/anaconda3/envs/tensorflow13/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.24.2->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.0

In [6]:
ACCESS_KEY = "AKIAU7APHSU5V6VGK7XV"
AWS_SECRET_ACCESS_KEY = "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"
STAGING_S3_DIR = "s3://aws-athena-query-results-341481854267-eu-west-1/"

In [7]:
conn = connect(aws_access_key_id=ACCESS_KEY,
               aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
               s3_staging_dir=STAGING_S3_DIR,
               region_name='eu-west-1')

In [9]:
dfFormParquet = pd.read_sql("SELECT * FROM app_db_p.formsparquet", conn)
dfSignUpTable = pd.read_sql("SELECT * FROM app_db_p.sign_up_parquet", conn)

In [11]:
print(dfSignUpTable.shape)
print(dfFormParquet.shape)

(1219, 11)
(2939, 10)

In [15]:
dfSignUpTable.head()

,company,customer_email,customer_name,org_id,customer_source,num_forms,number_of_published_forms,subscription_date,phone,country,sign_up_date
0,None,None,None,None,None,NaN,NaN,NaT,None,None,NaT
1,sceev,sceev18@gmail.com,Pradtna Jesica,3f9b0178-ea8d-4abd-bb7f-81d474626643,None,1.0,1.0,2019-09-09 12:36:28,081286004545,Indonesia,2019-09-09 12:36:28
2,Makerpeace nig ltd,princeadeshina657@gmail.com,Olatunde Adeshina,f714ccc2-4285-4093-8119-8d317795ef5c,None,1.0,NaN,2019-08-09 20:30:33,8111449788,Nigeria,2019-08-09 20:30:33
3,Mosdec_Knocept,mosesvohwilliams@gmail.com,WilliamsVoh Moses,f62b1a3a-4083-4b38-b831-de249b4c8cfd,None,1.0,NaN,2019-04-11 12:02:15,08138353320,Nigeria,2019-04-11 12:02:15
4,Blacque,oluwaferanmiadebekun@gmail.com,Adebekun Oluwaferanmi,78d051f6-bb93-49c7-bb1d-66da34ea1a68,GOOGLE,1.0,NaN,2019-09-22 13:09:57,None,None,2019-09-22 13:09:57

In [16]:
dfFormParquet.head()

,email_address,type_of_data,customer_name,form_type,pid,template_name,captured_records,industry,created,purpose
0,uyibel@gmail.com,HUMAN CAPTURE,Digest Rules,WEBFORM,f46dec4c-95fe-41bc-9919-d3285728a36a,None,0,RESEARCH,2019-09-23 13:38:49,Registration
1,kingsleyisnice155@gmail.com,HUMAN CAPTURE,james,None,c7abaa86-5b98-45f5-8e6c-929ce10fa015,None,2,CORPORATES,2019-09-23 12:56:40,Contact
2,sobionye@yopmail.com,HUMAN CAPTURE,akaolisa obinna,WEBFORM,d586e5e8-c72c-4063-94fb-ec5e26ccd068,None,0,CORPORATES,2019-09-23 12:03:25,Others
3,sobionye@yopmail.com,HUMAN CAPTURE,akaolisa obinna,WEBFORM,d586e5e8-c72c-4063-94fb-ec5e26ccd068,None,0,CORPORATES,2019-09-23 12:03:25,Registration
4,gemzy@yopmail.com,HUMAN CAPTURE,Ibokette Ebong,WEBFORM,4eabd78d-19f4-42aa-8aa1-039065524762,None,0,RESEARCH,2019-09-23 11:19:07,Research

In [21]:
data = dfFormParquet.groupby(["form_type", "purpose"]).size().reset_index(name='count')

In [30]:
transformed = data.groupby(["form_type", "purpose"])['count'].sum().unstack().reset_index().fillna(0)

In [29]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

In [33]:
transformed.head()

purpose,form_type,Application,Banking,Census,Contact,Education,Feedback,File upload forms,Human resource,Order,Others,Questionnaire,Registration,Request,Research
0,BIOMETRICS,10,7,8,6,7,7,8,3,1,5,2,18,4,8
1,WEBFORM,26,11,5,6,7,15,7,6,5,35,15,84,13,4

In [36]:
transformed['form_type'] = transformed['form_type'].astype('category')

In [38]:
transformed['form_type'] = transformed['form_type'].cat.codes

In [41]:
datapresent = transformed.applymap(encode_units)

In [42]:
frequent_itemsets = apriori(datapresent, min_support=0.01, use_colnames=True)

In [ ]:
rules = association_rules(frequent_itemsets, metric='lift')